<div class="col-xs-offset-9 col-lg-8" id="google_translate_element" style="padding-top:120px;"></div>
<section id="Features" class="container-fluid text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            <h2>Features</h2>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/f1.gif" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Monitor environmental conditions.</h4>
                            <h4 class="subheading"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Keep track of your crops. Stay connected with your farm, anytime, anywhere</p>
                        </div>
                    </div>
                    <!--div class="line"></div-->
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/f2.gif"/>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Getting expect crop advice</h4>
                            <h4 class="subheading"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Recommendation to ensure optimal yield.</p>
                        </div>
                    </div>
                    <!--div class="line"></div-->
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/f3.gif" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Get Agricultural Advice</h4>
                            <h4 class="subheading"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">from our expert. Never miss out on anything.</p>
                        </div>
                    </div>
                    <!--div class="line"></div-->
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/f4.gif" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Automated Irrigation System</h4>
                            <h4 class="subheading"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Ensures efficient water supply. Save water with case.</p>
                        </div>
                    </div>
                    <!--div class="line"></div-->
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/aa.png" />
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Pest controls</h4>
                            <h4 class="subheading"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Keep your crops safe with our convinient pest control mechanism.</p>
                        </div>
                    </div>
                </li>
            </ul>
            <!--img src="img/sat.png" class="image-responsive" alt="stat" width="100%" id="englishpic"/-->
        </div>


        <!--div class="col-lg-2" style="padding-top:100px;">
            <p>Choose the Prefered Language</p>
            <div class="radio">
                <label><input type="checkbox" id="langu" name="optradio" onclick="clickradio()">Kannada</label>
            </div>
        </div-->
    </div>
</section>

<br /><br /><br />

<!--iframe video-->
<h2>Live video from the Cam</h2>
<section id="contact" class="container content-section text-center">
<iframe width="410" height="480" src="http://192.168.1.2:8000/" frameborder="0" alt="Server no connected>"</iframe>

</section>
<!--Contact Us-->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact AgroAssist<sup>+</sup></h2>
            <!--div class="input-group">
                <div class="col-lg-6 col-sm-12">
                    <input name="name" id="name" placeholder="Name" width="100%" /><br />
                    <input name="contact" id="contact" placeholder="Contact Us" width="100%" /><br />
                    <input name="address" id="address" placeholder="Address" width="100%" />
                </div>
                <div class="col-lg-6 col-sm-12">
                    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
                </div>
                <button name="submit" value="Submit" class="btn btn-primary btn-block" type="button">Submit</button>
            </div-->
            <br /><br /><br />
            <p>Feel free to email us to provide some feedback on our product, to give us suggestions on hardware and software, or to just say hello!</p>
            <!--p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p-->
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/shashankshetty1996" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/pradeepB" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/shashankshetty1996" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/shashankshetty1996" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>